upstream production {
  server 172.16.0.6:31940 max_fails=3 fail_timeout=30s;
}

upstream staging {
  server 172.16.0.18:32053 max_fails=3 fail_timeout=30s;
}

server {
  listen 80;
  server_name 1;
  location / {
    proxy_pass http://production;
  }
}

server {
  listen 8080;
  server_name 2;
  location / {
    proxy_pass http://staging;
  }
}
